body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}

#container {
  display: flex;
  
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  position:fixed;
  margin-left: 78%;
}

form h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: rgba(26, 108, 185, 0.9);
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 20px;
  background-color: #aa8f8fe2;
  width: 75%;
  margin: 0 ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
  border-style: solid;
  border-radius: 40px;
  border-color: rgba(26, 108, 185, 0.753);
  border-width: 5px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(232, 235, 235);
  text-align: center;
  color: rgb(135, 194, 194);
}
